#app {
    width: 600px;
    margin: 0px auto;
    position: relative;
}

.el-tag {
    width: 80px;
    text-align: center;
    margin: 1px;
}

.court {
    display: inline-block;
    width: 200px;
    text-align: center;
}

.same-width-font {
    font-family: "Andale Mono", "monospace" !important;
}

.banner {
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.banner-setting {
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
    cursor: pointer;
}

.banner-refresh {
    position: absolute;
    right: 30px;
    top: calc(50% - 8px);
    cursor: pointer;
}
